
<h1 mat-dialog-title style="color: rgb(6, 59, 173);">
    <mat-icon>visibility </mat-icon> Lunette solaire</h1>
<div mat-dialog-content>

    <form [formGroup]="formValue">

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td style="padding-left:20%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>Reference :</mat-label>
                        <input matInput placeholder="..." type="text" formControlName="ref" class="form-control" required id="ref">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>

                <td style="padding-left:22%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>Marque :</mat-label>
                        <input matInput placeholder="..." type="text" formControlName="marque" class="form-control" required id="marque">
                        <mat-icon matSuffix>hotel_class</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="padding-left:20%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>prix d'Achat :</mat-label>
                        <input matInput placeholder="..." type="text" formControlName="prixAchat" class="form-control" required id="prixAchat">
                        <mat-icon matSuffix>sell</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>

                <td style="padding-left:22%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>prix de vente :</mat-label>
                        <input matInput placeholder="..." type="text" formControlName="prixVente" class="form-control" required id="prixVente">
                        <mat-icon matSuffix>sell</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="padding-left:20%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>Fournisseur :</mat-label>
                        <!--<select matInput placeholder="..." formControlName="fournisseur" class="form-control" required id="fournisseur">
                            <option value=""></option>
                        </select>-->
                        <mat-select formControlName="fournisseur" [(ngModel)]="selected" id="fournisseur" placeholder="...">
                            <mat-option *ngFor="let fournisseur of allFournisseur" [value]="fournisseur">
                                {{fournisseur.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>
                <td style="padding-left:22%;">
                    <mat-form-field appearance="fill" style="width: 200px;font-size: 80%;">
                        <mat-label>Quantité :</mat-label>
                        <input matInput placeholder="..." type="text" formControlName="quantite" class="form-control" required id="quantite">
                        <mat-icon matSuffix>category</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" class="fermer" id="cancel" (click)="onNoClick()">Fermer <mat-icon>clear </mat-icon></button>

    <button mat-raised-button color="primary" *ngIf="showAdd" (click)="postLunetteSolaireDetails()" class="ajouter" cdkFocusInitial>Ajouter <mat-icon>visibility </mat-icon></button>
    <button mat-raised-button color="primary" *ngIf="showUpdate" (click)="updateLunetteSolaireDetails()" class="modif" cdkFocusInitial>Modifier</button>

</div>