.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 125px;
    background: #082158;
    margin: 0 -1rem;
    font-size: 40px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    background :image("../assets/back.jpg");
    color: black;
    font-size: 1.5rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

h1 {
  color: #eb5c7b;
  font-size: 65px;
  font-style: oblique;
  padding-top: 60px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.logo {
  text-align: center;
  padding: 1.6rem 1rem;
  img {
    width: 150px;
    height: 150px;
  }
}
